@model SedniceNNV.Models.Clanovi

@{
    ViewBag.Title = "Promena email adrese";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="padding-top:10em">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ClanID)
        @Html.HiddenFor(model => model.Ime)
        @Html.HiddenFor(model => model.Prezime)
        @Html.HiddenFor(model => model.Status)
        @Html.HiddenFor(model => model.KorisnickoIme)
        @Html.HiddenFor(model => model.Lozinka)
        @Html.HiddenFor(model => model.Uloga)

        

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak na spisak", "Index")
</div>
