@model SedniceNNV.Models.Sednice

@{
    ViewBag.Title = "Brisanje sednice";
}

<h2>Brisanje sednice</h2>

<h3>Da li ste sigurni da želite da obrišete sednicu?</h3>
<div>
    <h4>Sednice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vrsta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ucionica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ucionica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zapisnik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zapisnik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Povratak na spisak", "Index")
        </div>
    }
</div>
