@model PagedList.IPagedList<SedniceNNV.Models.Clanovi>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Spisak članova";
}

<h2>Spisak članova</h2>

@if (Session["Uloga"].ToString() == "Admin")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@using (Html.BeginForm("Index", "Clanovi", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Pretraga" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Ime", "Index", new { sortOrder = ViewBag.FirstNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Prezime", "Index", new { sortOrder = ViewBag.LastNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>

        <td>
            @if (Session["Uloga"].ToString() == "Admin")
            {
                @Html.ActionLink("Promeni", "Edit", new { id = item.ClanID }) <br />
                @Html.ActionLink("Detalji", "Details", new { id = item.ClanID }) <br />
                @Html.ActionLink("Obriši", "Delete", new { id = item.ClanID })
            }
            
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
